/*
*{
    border: 1px solid red;
}
*/

body {
    background-color: #004;
    padding: 0;
    margin: 0;
    padding-top: 50px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 75%;
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    border-radius: 25px;
}

.gameWindow {
    flex: 4;
    border-radius: 25px 25px 0 0;
    background: linear-gradient(127deg, #00a, #00f, #0f0);
}

.playWindow {
    flex: 1;
    padding: 5px;
    border-radius: 0 0 25px 25px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(217deg, #f00d, #f00, #ff0),
                linear-gradient(127deg, #0f0d, #0f0),
                linear-gradient(336deg, #00fd, #00f);
}

.score {
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
}

.choiceWindow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    height: 50%;
}

.whoWins {
    font-size: 35px;
    text-align: center;
}

button {
    width: 30%;
    background-color: #00f;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px #fff;
    font-size: 200%;
}
